body {
  /* テキストのデフォルト書式 */
  color: #000;
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  text-rendering: geometricPrecision;
  /* ページの背景色 */
  background-color: #f5f5dc;
}

#top {
  margin-left: 15px;
  margin-top: 15px;
}

h1 {
  font-size: 26px;
}

#description {
  display: inline-block;
  border: 1.5px solid #000000;
  padding: 5px;
}

#countdown table {
  text-align: center;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 20px;
}

#countdown table th, td {
  border: 1px solid #000;
  width: 120px;
  padding: 10px;
}

#settingBorder {
  display: none;
}

#red {
  width: 80px;
}

#blue {
  width: 80px;
}

#message {
  font-size: 16px;
}

#news {
  background-color: #ddd;
  padding-bottom: 5px;
}

#news h2 {
  padding-top: 10px;
  margin-left: 15px;
  font-size: 20px;
}

#news p {
  padding-left: 15px;
  margin: 0px 0px 10px 0px;
  line-height: 26px;
}

#menu {
  display: none;
  padding-left: 15px;
}

#menu input {
  display: inline-block;
  width: 100px; /* ボックスの横幅を指定する */
  height: 45px; /* ボックスの高さを指定する */
  padding-left: 5px; /* ボックス内左側の余白を指定する */
  padding-right: 5px; /* ボックス内御右側の余白を指定する */
  text-align: center; /* テキストのセンタリングを指定する */
  line-height: 45px; /* 行の高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 2px solid #006dd9;/* ボックスの境界線を実線で指定する */
  border-radius: 5px; /* 角丸を指定する */
}

#data p {
  font-size: 24px;
  font-weight: bold;
}

#all {
  display: none;
}

#all h2 {
  font-size: 24px;
}

#all p {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}

#data table {
  text-align: center;
  background-color: #eee;
}

#data table th, td {
  width: 200px;
}

#data div {
  padding: 15px;
}

#gacha {
  display: none;
  padding-left: 15px;
}

#gacha select {
  display: inline;
  width: 80px;
}
